/* Body element */
body { 
    background-color:#f9f2f0;
    color: rgba(255, 255, 255, 0.905);
    }
    .light-mode body {
    background-color: #f9f2f0;
    color: #ff0000;
    }
    .dark-mode body {
    background-color:#f9f2f0; 
    color:rgba(0, 17, 255, 0.98);
    }
    .gray-mode body {
    background-color: #a3a3a3;
    color: #ff0000;
    }
    
    /* Active link */
    .router-link-active {
    border-bottom: 2px solid gray;
    }
    .dark-mode .router-link-active {
    border-bottom: 2px solid rgb(228, 88, 46);
    }
    .gray-mode .router-link-active {
    border-bottom: 2px solid rgb(231, 67, 46);
    }
    /* input */
    textarea,
    input, select{
    padding:.5em;
    display: block;
    max-width: auto;
    margin-top: .2em;
    padding: .5em;
    border: 1px solid rgba(111, 109, 109,.2);
    border-radius: 4px;
    background: none;
    }
    .dark-mode textarea,
    .dark-mode input,
    .gray-mode select  {
    border: 1px solid rgba(199, 197, 197, 0.8);
    }
    .gray-mode textarea,
    .gray-mode input,
    .gray-mode select {
    border: 1px solid rgba(41, 41, 45, 0.8);
    } 

   