.main {
    height:auto;
    min-height:50vh;
}
.container {
    max-width: 40em; 
    margin-left: auto;
    margin-right: auto;
    text-align: left; 
}

.homepage-title {
    text-align: left; /* Alleen de titel wordt links uitgelijnd */
}

p{
    margin-top: .5em;
}
hr{
    border-bottom: 1px dotted #f9f2f0;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
ul, li {
    list-style: none;
}
